<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/end_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id = "game"><a href="/">konek.io</a></h1>
    <h1 id = "end-title">You're done.</h1>

    <h2 id = "player1-score"><%= player1_name%>  Score:</h2>

    <h2 id = "score1-int"><%= player1_score %> </h2>

    <h2 id = "player2-score"><%= player2_name %>  Score:</h2>

    <h2 id = "score2-int"><%= player2_score %> </h2>

    <h2 id = "winner"><%= winner %>  wins. Amazing.</h2>
    
    <h3 id="loser">It's not supposed to be hard, <%= loser%>.</h3>
        
    <a href="/"><button id = "front" onclick="play_again(false)">Don't</button></a>

    <a href="/play"><button id="play" onclick="play_again(true)">Play Again</button></a>

    <script src="scripts/end_page.js"></script>

</body>
</html>